<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of account</h2>
      <br>
      <br> ID: <%=  account._id %>
      <br> TypeofAccount: <%=account.typeofaacount%>
      <br> Branch: <%=account.branch%>
      <br> DateOpened: <%=account.dateOpened%>
      <br> AccountBalance: <%=account.accountBalance%>
      <hr>
      
      <form method="get" action="/account">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>


      <form method="POST" action="/account/delete/<%= account._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>