<!-- main - a row holds columns -->
<div class=row>
    <div class="col col-xs-12">
  
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required>
      </div>
  
      <div class="form-group">
        <label for="userAccountNumber">User Account Number</label>
        <input type="number" class="form-control" id="userAccountNumber" name="userAccountNumber" value="<%= user.userAccountNumber %>">
      </div>
  
      <div class="form-group">
        <label for="userBalance">user Balance</label>
        <input type="number" class="form-control" id="userBalance" name="userBalance" value="<%= user.userBalance %>">
      </div>
  
  
      <div class="form-group">
        <label for="address"><Address></label>
        <input type="text" class="form-control" id="address" name="address" value="<%= user.address %>">
      </div>
  
      <div class="form-group">
        <label for="city">City </label>
        <input type="text" class="form-control" id="city" name="city" value="<%= user.city %>">
      </div>
  
      <div class="form-group">
        <label for="state">State </label>
        <input type="text" class="form-control" id="state" name="state" value="<%= user.state %>">
      </div>
  
      <div class="form-group">
        <label for="zip">zip </label>
        <input type="zipcode" class="form-control" id="zip" name="zip" value="<%= user.zip %>">
      </div>
  
      <div class="form-group">
        <label for="country">Country </label>
        <input type="text" class="form-control" id="country" name="country" value="<%= user.country %>">
      </div>
  
    </div>
  </div>
  
  <!-- PUT CLIENT SIDE CODE HERE -->
  <script>
  
    // function toCurrency(amount) 
  
    // https://gist.github.com/kylefox/780065
    function toCurrency(amount) {
      return "$" + amount.toFixed(2);
    };
  
    // function toCurrencyInt(amount) 
    function toCurrencyInt(amount) {
      return "$" + amount.toFixed(0);
    };
  
    // Add  .toCurrency() method to all Numbers
    Number.prototype.toCurrency = function () {
      return toCurrency(this);
    };
  
    // Add  .toCurrencyInt() method to all Numbers
    Number.prototype.toCurrencyInt = function () {
      return toCurrencyInt(this);
    };
  
    function onFormChange() {
      const newAge = parseFloat($("input[name=age]").val());
      let price = 75
      if (newAge == 1) {
        price = 100
      }
      $("#puppyCost").html(price.toCurrencyInt());
    }
  
    // window.onload = a function that will call all update functions to display calculated values
    window.onload = function () {
      onFormChange();
    }
  
    // prevent submission when hitting enter key - optional, but user-friendly 
    document.forms[0].onkeypress = function (e) {
      var key = e.charCode || e.keyCode || 0;
      if (key == 13) {
        e.preventDefault();
      }
    }
  
  // END CLIENT SIDE CODE  (close the script tag)
  </script>