<!-- main  -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="transactionInitiatedDate">transaction Initiated Date</label>
      <input type="number" class="form-control" id="transactionInitiatedDate" name="transactionInitiatedDate"value="<%= transaction.transactionInitiatedDate %>" >
    </div>

    <div class="form-group">
      <label for="transactionFinal">transaction Final </label>
      <input type="number" class="form-control" id="transactionFinal" name="transactionFinal" value="<%= transaction.transactionFinal %>" >
    </div>

    <div class="form-group">
      <label for="paymentType">Payment Type</label>
      <input type="number" class="form-control" id="paymentType" name="paymentType"value="<%= transaction.paymentType %>" >
    </div>
    <div class="form-group">
      <label for="paid">Paid</label>
      <input type="number" class="form-control" id="paid" name="paid"value="<%= transaction.paid %>" >
    </div>
  </div>
</div>


<!-- PUT CLIENT SIDE CODE HERE -->
<script>

  // function toCurrency(amount) 

  // https://gist.github.com/kylefox/780065
  function toCurrency(amount) {
    return "$" + amount.toFixed(2);
  };

  // function toCurrencyInt(amount) 
  function toCurrencyInt(amount) {
    return "$" + amount.toFixed(0);
  };

  // Add  .toCurrency() method to all Numbers
  Number.prototype.toCurrency = function () {
    return toCurrency(this);
  };

  // Add  .toCurrencyInt() method to all Numbers
  Number.prototype.toCurrencyInt = function () {
    return toCurrencyInt(this);
  };

  function onFormChange() {
    const newAge = parseFloat($("input[name=age]").val());
    let price = 75
    if (newAge == 1) {
      price = 100
    }
    $("#puppyCost").html(price.toCurrencyInt());
  }

  // window.onload = a function that will call all update functions to display calculated values
  window.onload = function () {
    onFormChange();
  }

  // prevent submission when hitting enter key - optional, but user-friendly 
  document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }

// END CLIENT SIDE CODE  (close the script tag)
</script>