<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Manasa Goriparthi </h1>
      <h2> About Me
        Background
        I am from Hyderabad,India.
         I completed my undergraduation in Electronics and Communication 
         at Vignan Institute of Technology and Science in 2018. </h2>

      <br>
      <br>
    </div>
  </div>
</div>